* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
  font-family: var(--font-family);
}

body {
  background-color: #fff;
  background-size: cover;
}

a {
  color: unset;
  text-decoration: none;
}

.car-bg {
  background-color: #04112c;
  background-image: url(assets/images/brand-pattern.svg);
  background-size: contain;
}

.contact-bg {
  background-color: #fff;
  background-image: url(assets/images/brand-pattern2.svg);
  background-size: cover;
  background-position: right;
  background-repeat: no-repeat;
}

